@import url("/home/benjaneb/.cache/wal/colors-waybar.css");

@define-color mauve  @color9;
@define-color red  @color9;
@define-color lavender  @color7;
@define-color text  @color7;

* {
  all: unset;
  font-family: "CodeNewRoman Nerd Font Mono", monospace;
  font-size: 18px;
  text-shadow: none;
  background-color: transparent;
}

window {
  all: unset;
  padding: 20px;
  border-radius: 20px;
  background-color: alpha(@background, 0.98);
}

#outer-box {
}

#input {
  all: unset;
  margin: 20px;
  padding: 18px;
  color: @text;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background-color: alpha(@background, 0.2);
}

#input image {
  color: @red;
  padding-right: 10px;
}

#input:focus {
}

#scroll {
  margin: 0 20px 20px 20px;
}

#inner-box {
}

#text {
  margin: 8px;
  color: @text;
}

#entry {
  margin: 3px 0;
  border-radius: 30px;
  padding: 10px 20px;
}

#entry arrow {
  color: @lavender;
}

#entry:selected {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.03);
  background-color: alpha(@foreground, 0.15);
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender;
}
